                    /* To Do List - Styling */

                    
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
                                 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-style: normal;
}

body{
    background-color: #46344E;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-bottom: 100px;
    color: #FAED26;
    /* text-decoration: underline; */
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
}

.input-container input[type="text"]{
    width: 70%;
}

.input-container input[type="button"]{
    background-color: #24e324;
    color: white;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
}

.input-container input[type="button"]:hover{
    background-color: #60b160;
}

ul{
    width: 70%;
    max-width: 450px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

ul li{
    list-style-type: none;
    cursor: pointer;
    margin-block-end: 12px;
    border-radius: 8px;
    border: 2.125px solid #FAED26;
    padding: 6px 12px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s;
    
}

ul li:hover{
    background-color: #9d8d8f;
    color: #FAED26;
}

ul li p{
    flex-grow: 1;
    padding: 2px;
}
.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}

.deleteBtn{
    color: #f11e1e;
    font-weight: 900;
}

.editBtn{
    color: #24e324;
    font-weight: 800;
}